anyio==4.15.1
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
flet==1.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
msgpack==1.2.2
numpy==2.4.6
oauthlib==3.3.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.2
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.2
PyQt6_sip==13.12.0
pyqtgraph==0.14.0
repath==0.9.0
requests==2.34.2
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
